<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us - Bakery</title>
    <script src="js/app.js" defer></script>
    <link
        href="https://fonts.googleapis.com/css2?family=Cabin&family=Herr+Von+Muellerhoff&family=Poiret+One&family=Source+Sans+Pro:wght@700&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css">
    <script src="https://unpkg.com/scrollreveal"></script>
    <link rel="stylesheet" href="style.css">
    <script src = "https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
    
</head>

<body>
 
    <header>
        <div class="container">
            <nav class="navbar">
                <div class="menu-toggle">
                    <i class="fas fa-bars"></i>
                    <i class="fas fa-times"></i>
                </div>
                <a href="index.html" class="logo">
                    <img src="images/logo.jpg" style="width: 35px; height: 35px;border-radius: 50px;"/>
                ANANDA BAKERY</a>
                <ul class="nav-list">
                  <li class="nav-item">
                    <a href="index.html" class="nav-link">Home</a>
                </li>
                <li class="nav-item">
                    <a href="snack.html" class="nav-link active">Snacks</a>
                </li>
                <li class="nav-item">
                    <a href="cart.html" class="nav-link">Cart</a>
                </li>
                <li class="nav-item">
                    <a href="index.html#contact" class="nav-link">Contact</a>
                </li>
                <li class="nav-item">
                    <a href="FAQ.html" class="nav-link">FAQs</a>
                </li>
                <li class="nav-item">
                    <a href="feedback.html" class="nav-link">Feedback</a>
                </li>
                <li class="nav-item">
                    <a href="login.html" class="nav-link">Login/Signup</a>
                </li>
                </ul>
            </nav>
        </div>
    </header>

  

    <section class="hero small-size-hero" id="hero">
    </section>


<section class="sect_product" ng-app="mainApp" ng-controller="snackFormController">
    <div class="container" ng-controller="snackController">
    <link rel="stylesheet" href="style2.css">
      <div class="container" ng-repeat = "snack in snacks">
        <form name="snackDisplay" action="/cartForm" method="post" novalidate>
        <div class="row" class="container" style="background-color: antiquewhite;width:90%;align-items:center;border:1px solid antiquewhite;border-radius:10px;color: black;">
          <div class="column">
            <div class="imgBx">
              <br>
              <div class="foodtitle">{{snack.snackName}}</div>
              <br>
              <img  style="height: 150px;width:200px;border-radius: 10px;"src={{snack.imgUrl}}>
              <br><br>
            </div>
          </div>
          <div class="column">
            <div class="contentBx">
              <p style="text-align:left">{{snack.aboutSnack}}</p><br>
              <p><b>1 {{snack.measurement}} = Rs {{snack.price}}</b></p>
              <input type="text" name="snackName"value="{{snack.snackName}}" ng-hide="true">
              <input type="text" name="measurement"value="{{snack.measurement}}" ng-hide="true">
              <input type="text" name="price"value="{{snack.price}}" ng-hide="true">
              <br><div class="column">
                <div style="font-size:15px;font-weight:bold">
                  COUNT: <select id="count" class="dropbtn"ng-model="count" name="count">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                  </select>
                  </div>
              </div><br>
              <div class="column">
                <input ng-click="submit()" type="submit" class="submit-btn"value="Add to cart">
              </div>
              
            </div>
          </div><br>
        </div>
        </form>
        <br><br>
      </div>
    </div>
    </section>
    <!-- FOOTER -->
    <footer id="contact">
        <div class="container">
            <div class="back-to-top">
                <a href="#hero"><i class="fas fa-chevron-up"></i></a>
            </div>
            <div class="footer__content">
                <div class="footer__content-about animate-top">
                    <h4>About Bakery</h4>
                    <div class="asterisk"><i class="fas fa-asterisk"></i></div>
                    <p>We're Ananda Bakery and we've been serving cakes, breads, puff pastries and sweets in srivilliputtur since 1950. We are dedicated to serving delicious cakes, breads, puffs, sweets and much more to our customers at a fair price.</p>
                </div>
                <div class="footer__content-divider animate-bottom">
                    <div class="social-media">
                       <div style="text-align:left;position: absolute; ">
                        <h4 ><i class="fa fa-phone-alt" style="color:#e1b164"></i> Contact</h4>
                        <ul >
                            <li>
                                <a href="tel:+91-98944-84909" class="contact" style="color:white;">
                                    <p> +91 9894484909</p>
                                </a>
                            </li>
                            
                            
                        </ul>
                        </div>
                       <div style="text-align:right">
                        <h4 ><i class="fa fa-map-marker-alt" style="color:#e1b164"></i> Address</h4>
                        <ul >
                            <li>
                                <a href="https://www.google.com/maps/dir//Ananda+Bakery/data=!4m8!4m7!1m0!1m5!1m1!1s0x3b06dcc7e9397c0f:0x7fe83740c8a5f675!2m2!1d77.6296229!2d9.5136487" class="contact" style="color:white;">
                                    <p>4 C-D Rajaji Road<br>
                                        Srivilliputhur 626125<br>
                                        Tamil Nadu<br>
                                        India</p>
                                </a>
                            </li>
                            
                            
                        </ul>
                        </div>
                        
                       
                        
                        
                        
                        
                    </div>
                    
                </div>
            </div>
        </div>
    </footer>
    <script>
      var mainApp = angular.module("mainApp", []);
         
         mainApp.controller('snackFormController', function($scope) {
              
});
mainApp.controller('snackController', function($scope, $http) {
      $http({
              method: 'GET',
              url: "http://localhost:3000/snackForm"
              }).then(function success(response) {
                  $scope.snacks=response.data;
                  }, function error(response) {
                  }
              );
      });

    </script>
</body>

</html>